@import '/app/global.scss';

.page {
	display: flex;
	flex-direction: column;
	animation: pageFadeIn 1.2s ease forwards;

	@keyframes pageFadeIn {
		0% {
			opacity: 0;
			visibility: hidden;
		}
		100% {
			opacity: 1;
			visibility: visible;
		}
	}

	.img {
		flex-basis: 400px;
		margin: 60px auto 80px;
		@include medium {
			height: auto;
		}
		img {
			display: block;
			max-width: 400px;
			width: 100%;
			height: auto;
			margin: 0 auto;
			animation: iconBlinking 3s ease-in-out infinite;

			@keyframes iconBlinking {
				0% {
					opacity: 0;
				}
				75% {
					opacity: 1;
				}
				100% {
					opacity: 0;
				}
			}
		}
	}
	.button {
		display: flex;
		justify-content: center;

		button {
			padding: 5px 10px;
			margin-bottom: 10px;
			background-color: #fff;
			color: #e18d16;
			border: none;
			border-radius: 5px;
			z-index: 1000;
			transition: 0.1s all ease;
			cursor: pointer;
			&:active {
				border: 1px solid rgba(30, 81, 123);
				transition: all 0.1s ease;
			}
		}
	}
}
