.page {
	img {
		display: block;
		margin: 60px auto 80px;
		max-width: 400px;
		width: 100%;
		height: auto;
		animation: iconBlinking 3s ease-in-out infinite;

		@keyframes iconBlinking {
			0% {
				opacity: 0;
			}
			75% {
				opacity: 1;
			}
			100% {
				opacity: 0;
			}
		}
	}
	.button {
		display: flex;
		justify-content: center;
	}
}
