@import '/app/global.scss';

.btn {
	display: block;
	margin: 20px 0 20px auto;
	padding: 5px 10px;
	background-color: #fff;
	color: #e18d16;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 2px rgba(0, 0, 0, 0.8);
	transition: 0.1s all ease;
	cursor: pointer;
	&:active {
		transform: translateY(2px);
		box-shadow: none;
	}
	&_disabled {
		background-color: darken(#fff, 10%);
	}
}

.btn-disabled {
	background-color: rgb(208, 128, 9);
}

.body {
	position: relative;
	max-width: 1200px;
	width: 100%;
	margin: 10px auto 0px auto;
	border-radius: 20px;
	min-height: 290px;
	max-height: calc(100svh - 110px);
	font-size: 18px;
	font-weight: 400;
	overflow-y: auto;
	animation: openViewSingleBook 0.5s forwards;

	.book {
		max-width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding: 30px 0 0;
		background-color: darken($color: #fff, $amount: 30%);
		z-index: 100000;
		.top {
			position: relative;
			flex-basis: 50%;
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: end;
			margin-bottom: 10px;
			@include small {
				margin-bottom: 0;
			}
			.go_back {
				cursor: pointer;
				img {
					position: absolute;
					top: 0px;
					left: 40px;
					width: 50px;
					height: 50px;
				}
				@include small {
					display: none;
				}
				&_bottom {
					&_container {
						display: none;
						@include small {
							display: flex;
							justify-content: center;
							align-items: center;
						}
					}
					img {
						@include small {
							width: 50px;
							height: 50px;
							transform: scale(0.8);
						}
					}
				}
			}
			.image {
				display: block;
				padding: 0 15px;
				display: flex;
				justify-content: center;
				border-radius: 15px;
				img {
					max-width: 300px;
					width: 100%;
					height: auto;
					border-radius: 15px;
				}
			}
			.button {
				position: absolute;
				right: 115px;
				top: 20px;
				padding: 5px 19px;
				margin-bottom: 10px;
				border-radius: 7px;
				background-color: #fff;
				color: $accentColor;
				border: none;
				border-radius: 5px;
				transition: 0.1s all ease;
				cursor: pointer;
				&:active {
					border: 1px solid rgba(30, 81, 123);
					transition: all 0.1s ease;
				}
				@include medium {
					opacity: 0;
					visibility: hidden;
				}
			}
		}
		.content {
			flex-basis: 50%;
			display: flex;
			flex-direction: column;
			align-items: center;
			max-width: 90%;
			padding: 0 0 20px;
			@include microSmall {
				padding: 0 0 20px 0;
			}

			.title {
				display: block;
				max-width: 700px;
				width: 100%;
				font-size: 20px;
				text-align: center;
				text-transform: uppercase;
				letter-spacing: 1px;
				margin-bottom: 15px;
				@include small {
					display: flex;
					justify-content: space-between;
					align-items: center;
					h2 {
						flex-grow: 1;
						margin: 0 auto;
					}
				}
			}

			.author {
				width: 100%;
				max-width: 400px;
				display: flex;
				justify-content: center;
				margin-bottom: 25px;
				font-weight: 400;
				text-align: center;

				@include microSmall {
					h3 {
						max-width: 50px;
					}
				}
			}
		}

		.description {
			display: block;
			max-width: 900px;
			text-indent: 20px;
			text-align: justify;
			line-height: 1.6;
		}
		.read_online_btn {
			padding: 5px 19px;
			margin: 20px 0 0;
			border-radius: 7px;
			background-color: #fff;
			color: $accentColor;
			border: none;
			border-radius: 5px;
			transition: 0.1s all ease;
			cursor: pointer;
			&:active {
				border: 1px solid rgba(30, 81, 123);
				transition: all 0.1s ease;
			}
		}
		.button__bottom {
			opacity: 0;
			visibility: hidden;
			@include medium {
				left: 45%;
				padding: 5px 19px;
				margin-top: 30px;
				margin-bottom: 10px;
				border-radius: 7px;
				background-color: #fff;
				color: $accentColor;
				border: none;
				border-radius: 5px;
				opacity: 1;
				visibility: visible;
				transition: 0.1s all ease;
				cursor: pointer;
				&:active {
					border: 1px solid rgba(30, 81, 123);
					transition: all 0.1s ease;
				}
			}
		}
	}
}
@keyframes openViewSingleBook {
	0% {
		transform: scale(0.3);
		opacity: 0.2;
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes closeViewSingleBook {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(0);
		opacity: 0;
		visibility: hidden;
	}
}

.close {
	animation: closeViewSingleBook 1s forwards ease;
}
